.education {
  display: flex;
  gap: 1rem;
}

button{padding: 1rem 2rem;
border-radius: .2rem;}
.range {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.range button {
  font-weight: 700;
  color: #222;
  box-shadow: none;
}

#h1 {
  text-align: center;
}

#Basic,#Tertiary,#middle-level {
  background-color: aliceblue;
  color: black;
  padding: 1rem;
}

.write-ups {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.circle {
  --percentage: 90; 
  width: 9rem;
  height: 9rem;
  border-radius: 50%;
  background: conic-gradient(
    #4caf50 calc(var(--percentage) * 1%),
    #e0e0e0 0
  );
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1.2rem;
  position: relative;
}
#c1{
   --percentage: 80; 
}
#c2,#c3{ --percentage: 85; }
.skills{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
h1{text-align: center;}
.skill-cercle{
  display: flex;
  flex-direction: column;
  align-items: center;
}
h2{font-size: 2.2rem;}


.visible{display: block;}
.hidden{display: none;}
