body {
  background-color: #1e1e1ec1;
  color: #fff;
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
  }
}
h1 {
  margin-bottom: 1rem;
}
.homepage-particulars {
  margin-left: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  line-height: 1.6;
  font-size: 1.8rem;
  min-height: 100vh;
}

.homepage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5rem;
  font-size: large;
  width: 100%;
  max-width: 100%;
}
img {
  width: 15rem;
  border-radius: 50%;
  height: auto;
  margin-right: 1rem;
  margin-top: 1rem;
}
.name-highlight {
  color: rgb(47, 255, 92);
  font-weight: 900;
  font-size: 1.4rem;
}
.social-media-handles {
  gap: 1rem;
  display: flex;
  font-size: 2rem;
  margin: 1rem;
  animation: handles 1s ease 1s 1 forwards;
  opacity: 0;
}
.bi-facebook,
.bi-linkedin {
  color: blue;
}
.bi-instagram {
  color: orangered;
}

.homepage-particulars button {
  padding: 1rem 5rem;
  border-radius: 0.5rem;
  font-weight: 600;
  color: #333;
  box-shadow: 0.6rem 0.2rem 0.5rem #fff;
  animation: button 1s ease 1.5s 1 forwards;
  opacity: 0;
}
.first-animation {
  animation: slideInleft 1s ease 0.6s 1 forwards;
}
@keyframes head {
  from {
    transform: translateX(-200px);
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slideInleft {
  from {
    transform: translateX(-150px);
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes button {
  from {
    transform: translateX(-200px);
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes handles {
  from {
    transform: translateX(-200px);
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

/*320-600 phones, 600-1024 tablets,1024-1440 - laptops, 1600 plus-large screens*/
#h1 {
  justify-content: left;
  display: flex;
  animation: head 1s ease 0s 1 forwards;
}
@media (max-width: 100rem) {
  html {
    font-size: 85%;
  }
}
@media (max-width: 76.3rem) {
  html {
    font-size: 80%;
  }
  h1 {
    color: blue;
  }
}
@media (max-width: 64rem) {
  html {
    font-size: 60%;
  }
  h1 {
    color: green;
  }
}
@media (max-width: 30rem) {
  html {
    font-size: 50%;
    width: 100%;
  }
  .section-container{
  width: 100%;
  max-width: 37rem;
  margin: auto;
  padding: 1rem;
  box-sizing: border-box;

}
.homepage-particulars{margin-top: -6rem;
  margin-bottom: -12rem;
}
  h1 {
    color: skyblue;
  }
  .projects{flex-direction: column;
  color: skyblue;}
  .homepage-particulars {
    gap: 0.1rem;
  }
 
  .homepageimage img {
    display: none;
  }
   .service {
    display: none;
  }

  


  .homepage {
    display: flex;
    flex-direction: column;
    
  }
  .range {
    display: flex;
  }
  .education {
    display: flex;
    flex-direction: column;
    max-width: 37rem;
  }
  .contact {
    display: flex;
    flex-direction: column-reverse;
  }
  .skills{
    width: 37rem;
    display: flex;
    flex-wrap: wrap;
  }

  h1 {
    margin-top: -3em;
  }
  
}


